h1{
    color: black;
    font-size: 190px;
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.title1{
    color: red;
}
.tituluzao{
    color: green;
}